<div class="section profile-content">
  <div class="container">
    <div class="section">
      <div class="container">
        <h2 class="title text-center">{{'Actualidad'|translate}}</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-10">
              <div class="tim-title">
                <h3 class="text-center">{{'Carrera'|translate}}</h3>
                <br/>
              </div>
              <ngb-progressbar type="success" [value]="79" [striped]="true" [animated]="true">79%
              </ngb-progressbar>
            </div>
            <br>
          </div>
          <div class="col-md-6 margin-top">
            <div class="col-md-10 left-padding">
              <p>{{'Universidad' | translate }}</p>
              <p class="description">
                {{'UniversidadEstado' | translate}}</p><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
