<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <h2 class="title">{{'MI' | translate}}</h2>
        <h5 class="description"></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="margin-bottom: 85px">
        <div class="info">
          <div class="description">
            <h4 class="info-title">{{'MIInTit' | translate}}</h4>
            <p class="description">{{'MIInDesc' | translate}}<br><br></p>
          </div>
          <div class="icon icon-danger">
            <img src="assets/img/videoninoh.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="description">
            <h4 class="info-title">{{'MIPiTit' | translate}}</h4>
            <p>{{'MIPiDesc' | translate}}<br><br></p>
          </div>
          <div class="icon icon-danger">
            <img src="assets/img/piano.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
          </div>
          <div style="box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box">
            <audio controls>
              <source src="assets/music/titanic.mp3" type="audio/mpeg" class="img-responsive" style="max-width: 100%">
              Your browser does not support the audio tag.
            </audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="description">
            <h4 class="info-title"> {{'MIFoTit' | translate}} </h4>
            <p>{{'MIFoDesc' | translate}}<br><br></p>
          </div>
          <div class="icon icon-danger">
            <img src="assets/img/githubrec.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
