@import '~@angular/material/theming';

.btn-custom {
  color: black;
}

@mixin button-theme($theme) {
  .btn-custom {
    color: white !important;
  }

  #btn-custom {
    color: red !important;
  }

  #codfuente {
    color: mat-color($primary, $light-primary-text)
  }

  //
  //#codfuente {
  //  color: mat-color($primary, default-contrast) !important;
  //}

}
