<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <mat-icon svgIcon="angular-icon" aria-hidden="false" aria-label="Angular Icon"></mat-icon>
          </li>
          <li><a href="https://gitlab.com/NNelo/ng-portfolio" class="credits-text" id="codfuente" target="_blank">{{'Cod' | translate}}</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto credits-text">
        <span class="copyright credits-text">© {{test | date: 'yyyy'}}, {{'FAut' | translate  }} </span>
      </div>
    </div>
  </div>
</footer>
