<div class="section profile-content">
  <div class="container">
    <div>
      <h2 class="title text-center">{{'ProyectosTit' | translate}}</h2>
    </div>
    <div class="section card section-nucleo-icons" style="pointer-events: none">
      <div class="container">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-8 left-padding">
            <h2 class="title">{{'TFTit' | translate}}<br><small>{{'TF' | translate}}</small></h2><br/>
            <p class="description">
              {{'TFDesc1' | translate}}<br>
              {{'TFDesc2' | translate}}</p><br/>
            <span class="label label-warning">{{'TFState' | translate}}</span>
          </div>
          <div class="col-md-4 d-flex justify-content-center img-project-padding">
            <img src="../../../assets/img/ethereum.png"
                 class="img-circle img-no-padding img-responsive rounded float-right img-fluid img-project-size">
          </div>
        </div>
      </div>
    </div>
    <a class="section card section-nucleo-icons" href="https://linkium-r.herokuapp.com" target="_blank">
      <div class="container">
        <div class="row flex-column flex-md-row">
          <div class="col-md-4 d-flex justify-content-center img-project-padding">
            <img src="../../../assets/img/linkium.png"
                 class="img-circle img-no-padding img-responsive rounded float-right img-fluid img-project-size">
          </div>
          <div class="col-md-8 left-padding">
            <h2 class="title">{{'LKTit' | translate}}<br><small>{{'LK' | translate}}</small></h2><br/>
            <p class="description">
              {{'LKDesc' | translate}}</p><br/>
            <span class="label label-info">{{'LKState' | translate}}</span>
          </div>
        </div>
      </div>
    </a>
    <a class="section card section-nucleo-icons" href="https://argentinayuda.gitlab.io/argentina-ayuda-frontend/"
       target="_blank">
      <div class="container">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-8 left-padding">
            <h2 class="title">{{'AATit' | translate}}<br><small>{{'AA' | translate}}</small></h2><br/>
            <p class="description">
              {{'AADesc' | translate}}</p><br/>
            <span class="label label-info">{{'AAState' | translate}}</span>
          </div>
          <div class="col-md-4 d-flex justify-content-center img-project-padding">
            <img src="../../../assets/img/argentinaayuda.png"
                 class="img-circle img-no-padding img-responsive rounded float-right img-fluid img-project-size">
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
