.left-padding {
  padding-left: 50px;
}

.right-padding {
  padding-right: 50px;
}

.img-project-padding {
  padding: 50px;
}

.img-project-size {
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%
}
