.avatar-main {
  max-width: 400px;
  margin: -200px auto 0;
}

$social-instagram: #DD2A7B;
$social-instagram-darken: darken($social-instagram, 5%);

.btn-instagram {
  color: $social-instagram !important;

  &:hover,
  &:focus,
  &:active {
    color: $social-instagram !important;
  }
}

.btn-instagram-bg {
  background-color: $social-instagram !important;
  border-color: $social-instagram !important;

  &:hover {
    background-color: $social-instagram-darken !important;
    border-color: $social-instagram-darken !important;
  }
}

$social-telegram: #0088cc;

.btn-telegram {
  color: $social-telegram !important;

  &:hover,
  &:focus,
  &:active {
    color: $social-telegram !important;
  }
}

.btn-telegram-bg {
  background-color: $social-telegram !important;
  border-color: $social-telegram !important;

  &:hover {
    background-color: darken($social-telegram, 5%) !important;
    border-color: darken($social-telegram, 5%) !important;
  }
}

$social-gitlab: #FC6D27;

.btn-gitlab {
  color: $social-gitlab !important;

  &:hover,
  &:focus,
  &:active {
    color: $social-gitlab !important;
  }
}

.btn-gitlab-bg {
  background-color: $social-gitlab !important;
  border-color: $social-gitlab !important;

  &:hover {
    background-color: darken($social-gitlab, 5%) !important;
    border-color: darken($social-gitlab, 5%) !important;
  }
}
