<div class="section profile-content">
  <div class="container">
    <div class="owner">
      <div class="avatar avatar-main">
        <img src="../../../assets/img/profile-img.jpg" alt="Circle Image"
             class="img-circle img-no-padding img-responsive">
      </div>
      <div class="name">
        <h1 class="title text-center">Nelo Nanfara</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <p>
          {{'Bienvenida' | translate}}
        </p><br/>
      </div>
    </div>
    <br/>

    <div class="row justify-content-md-center sharing-area text-center" style="margin-top: 0">
      <div class="text-center col-md-12 col-lg-8" style="padding: 0">
        <a href="https://github.com/NNelo/" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip"
           title="Star on Github" target="_blank">
          <i class="fa fa-github"></i> GitHub
        </a>
        <a href="https://gitlab.com/NNelo" class="btn btn-gitlab-bg btn-github sharrre btn-round" rel="tooltip"
           title="Check on GitLab" target="_blank">
          <i class="fa fa-gitlab"></i> GitLab
        </a>
        <a href="https://t.me/NNelo" class="btn btn-telegram-bg instagram-sharrre btn-round" rel="tooltip"
           title="Telegram me!" target="_blank">
          <i class="fa fa-telegram"></i> Telegram
        </a>
      </div>
    </div>
  </div>
</div>
