<div class="section landing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <h2 class="text-center" *ngIf="!sent">{{'CT'|translate}}</h2>
        <h2 class="text-center" *ngIf="sent">{{'CTEnv'|translate}}</h2>
        <h3 class="text-center" *ngIf="sent">{{'CTGr'|translate}}</h3>
        <form class="contact-form" [formGroup]="msgForm" (ngSubmit)="onSubmit()" *ngIf="!sent">
          <div class="row">
            <div class="col-md-6">
              <label>{{'FNom' | translate}}</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                </div>
                <input type="text" formControlName="name" class="form-control" placeholder="{{'FNomPH' | translate}}" (focus)="focus=true"
                       (blur)="focus=false">
              </div>
            </div>
            <div class="col-md-6">
              <label>{{'FEma' | translate}}</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                </div>
                <input type="text" formControlName="email" class="form-control" placeholder="{{'FEmaPH' | translate}}"
                       (focus)="focus1=true" (blur)="focus1=false">
              </div>
            </div>
          </div>
          <label>{{'FMsj' | translate}}</label>
          <textarea class="form-control" formControlName="msg" rows="4"
                    placeholder="{{'FMsjPH' | translate}}"></textarea>
          <div class="row">
            <div class="col-md-4 mr-auto ml-auto" align="center">
              <button *ngIf="!sent" class="btn btn-info btn-lg btn-fill" type="submit" [disabled]="!msgForm.valid">
                {{'FEnv'|translate}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
