@import '~@angular/material/theming';

@mixin tile-theme($theme) {
  .title, .info-title, .description {
    color: mat-color($accent, default-contrast);
  }
}

@mixin card-theme($theme) {
  .card {
    background-color: mat-color($primary, 800);

    .p {
      color: mat-color($primary, $light-primary-text);

    }
  }
}

.container-options {
  position: absolute;
  margin: 20px;
  width: auto;
  top: 0;
  right: 0;
  background-color: #243447;
  padding: 10px;
  border-radius: 25px;
  z-index: 50;

  .description {
    color: white;
  }
}

.topnav {
  overflow: hidden;
  background-color: #243447;
}

.labelM {
  margin-right: 10px;
  margin-left: 8px
}

.btn-lang {
  color: white;
}
