<div [ngClass]="{'dark-theme': isDarkTheme}">
  <div class="wrapper">

    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../../../assets/img/code-background-dark.jpg');">
      <div class="container-options">
        <div class="topnav-options">
          <div style="align-items: center;">
            <div class="dropdown d-inline-block d-md-inline-block d-lg-none">
              <button type="button" class="btn btn-info btn-link btn-lang" (click)="switchLang('en')">ENG</button>
              <button type="button" class="btn btn-info btn-link btn-lang" (click)="switchLang('es')">ESP</button>
            </div>
            <div ngbDropdown class="dropdown d-none d-lg-inline-block d-xl-inline-block">
              <a class="nav-link description" id="dropdownBasic1" ngbDropdownToggle>{{'Idiom'|translate}}</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                <button class="dropdown-item" (click)="switchLang('es')">Español</button>
                <button class="dropdown-item" (click)="switchLang('en')">English</button>
              </div>
            </div>
            <label for="toggleTheme" class="description labelM">{{'Theme' | translate}}</label>
            <bSwitch
              [switch-on-color]="'primary'"
              [(ngModel)]="isDarkTheme"
              id="toggleTheme">
            </bSwitch>
          </div>
        </div>
      </div>
    </div>

    <app-main-card></app-main-card>
    <app-present></app-present>
    <app-projects></app-projects>
    <app-about-me></app-about-me>
    <app-contact-me></app-contact-me>

    <app-footer></app-footer>

  </div>

</div>
